<div class="container">
  <h1>Detailed Article</h1>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      Title: <%= @article.title%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      Content: <%=@article.content%>
    </div></div>
    <div class="row">
      <%= link_to "Back to Articles", articles_path%>
    </div>
  </div>
